nifi/data_validation.json
{"flowContents":{"identifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819","instanceIdentifier":"8f1aa48c-018c-1000-707a-9095e93ad23a","name":"data validation","comments":"","position":{"x":-248.0,"y":-144.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"f02cdf3e-ed6c-38a1-b043-a1f7c2f6387c","instanceIdentifier":"9d106da9-018c-1000-5936-966c44998471","name":"PutFile","comments":"","position":{"x":480.0,"y":256.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"../data Validated/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"fb3f83f6-aebb-3d43-adb9-42a443a31576","instanceIdentifier":"d8ed055e-8124-3efc-4005-0574998911c1","name":"ValidateCsv","comments":"","position":{"x":-320.0,"y":-216.0},"type":"org.apache.nifi.processors.standard.ValidateCsv","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"validate-csv-schema":"Null(),Null(),Null(),Null(),Null(),Null(),Null(),Null()","validate-csv-eol":"\\n","validate-csv-delimiter":";","validate-csv-header":"true","validate-csv-quote":"\"","validate-csv-strategy":"FlowFile validation"},"propertyDescriptors":{"validate-csv-schema":{"name":"validate-csv-schema","displayName":"Schema","identifiesControllerService":false,"sensitive":false},"validate-csv-eol":{"name":"validate-csv-eol","displayName":"End of line symbols","identifiesControllerService":false,"sensitive":false},"validate-csv-delimiter":{"name":"validate-csv-delimiter","displayName":"Delimiter character","identifiesControllerService":false,"sensitive":false},"validate-csv-header":{"name":"validate-csv-header","displayName":"Header","identifiesControllerService":false,"sensitive":false},"validate-csv-quote":{"name":"validate-csv-quote","displayName":"Quote character","identifiesControllerService":false,"sensitive":false},"validate-csv-strategy":{"name":"validate-csv-strategy","displayName":"Validation strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":3,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"2c83af21-6aa7-374c-bdd5-e36e8a9a7547","instanceIdentifier":"9d166573-018c-1000-0968-1b9c789774aa","name":"UpdateAttribute","comments":"","position":{"x":-712.0,"y":312.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.24.0"},"properties":{"Delete Attributes Expression":null,"filename":"mergedData.csv","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"07a71f46-155c-3a57-b309-8dec6329915d","instanceIdentifier":"46a89089-1b19-3421-52c9-02469003c5cb","name":"PutFile","comments":"","position":{"x":-80.0,"y":272.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"../data merged/","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"45036ab2-2828-3445-a082-3088ff0f5646","instanceIdentifier":"c7dcd4f8-1c4c-398d-86e9-8c90f920e39e","name":"GetFile","comments":"","position":{"x":-300.4804699233723,"y":-465.71717962064076},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Source File":"false","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"../data/","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"a17361a2-fbd0-3812-a6e5-074dfaea8430","instanceIdentifier":"9ccec736-018c-1000-4fbc-95f7fea25b42","name":"MergeContent","comments":"","position":{"x":-64.0,"y":24.0},"type":"org.apache.nifi.processors.standard.MergeContent","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"Keep Path":"false","Maximum Group Size":null,"Merge Strategy":"Bin-Packing Algorithm","Attribute Strategy":"Keep Only Common Attributes","Compression Level":"1","Maximum Number of Entries":"1000","Minimum Group Size":"0 B","Maximum number of Bins":"1","Tar Modified Time":"${file.lastModifiedTime}","Delimiter Strategy":"Do Not Use Delimiters","Merge Format":"Binary Concatenation","Footer File":null,"Max Bin Age":null,"Demarcator File":null,"Correlation Attribute Name":null,"Header File":null,"mergecontent-metadata-strategy":"Do Not Merge Uncommon Metadata","Minimum Number of Entries":"1"},"propertyDescriptors":{"Keep Path":{"name":"Keep Path","displayName":"Keep Path","identifiesControllerService":false,"sensitive":false},"Maximum Group Size":{"name":"Maximum Group Size","displayName":"Maximum Group Size","identifiesControllerService":false,"sensitive":false},"Merge Strategy":{"name":"Merge Strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"Compression Level":{"name":"Compression Level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"Maximum Number of Entries":{"name":"Maximum Number of Entries","displayName":"Maximum Number of Entries","identifiesControllerService":false,"sensitive":false},"Minimum Group Size":{"name":"Minimum Group Size","displayName":"Minimum Group Size","identifiesControllerService":false,"sensitive":false},"Maximum number of Bins":{"name":"Maximum number of Bins","displayName":"Maximum number of Bins","identifiesControllerService":false,"sensitive":false},"Tar Modified Time":{"name":"Tar Modified Time","displayName":"Tar Modified Time","identifiesControllerService":false,"sensitive":false},"Delimiter Strategy":{"name":"Delimiter Strategy","displayName":"Delimiter Strategy","identifiesControllerService":false,"sensitive":false},"Merge Format":{"name":"Merge Format","displayName":"Merge Format","identifiesControllerService":false,"sensitive":false},"Footer File":{"name":"Footer File","displayName":"Footer","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Max Bin Age":{"name":"Max Bin Age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"Demarcator File":{"name":"Demarcator File","displayName":"Demarcator","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"Correlation Attribute Name":{"name":"Correlation Attribute Name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Header File":{"name":"Header File","displayName":"Header","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}},"mergecontent-metadata-strategy":{"name":"mergecontent-metadata-strategy","displayName":"Metadata Strategy","identifiesControllerService":false,"sensitive":false},"Minimum Number of Entries":{"name":"Minimum Number of Entries","displayName":"Minimum Number of Entries","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"d2818759-20ba-3699-91d3-80e5cc0001c1","instanceIdentifier":"104eda70-f403-3c71-c4dd-33595c33b897","name":"PublishKafka_2_6","comments":"","position":{"x":440.0,"y":-192.0},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafka_2_6","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-6-nar","version":"1.24.0"},"properties":{"compression.type":"none","attribute-name-regex":null,"bootstrap.servers":"localhost:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"kafka-key":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","message-header-encoding":"UTF-8","kerberos-user-service":null,"message-demarcator":null,"transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"all","aws.profile.name":null,"security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":"Topic","key-attribute-encoding":"utf-8"},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"kafka-key":{"name":"kafka-key","displayName":"Kafka Key","identifiesControllerService":false,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false},"message-demarcator":{"name":"message-demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"aws.profile.name":{"name":"aws.profile.name","displayName":"AWS Profile Name","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Authentication","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"59b36642-3f40-3ddd-b82e-b90727e3bc04","instanceIdentifier":"f099d2d9-b163-349d-5ab3-2d64d55c3abb","name":"LogMessage","comments":"","position":{"x":-780.4804699233723,"y":86.28282037935924},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.24.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"57f7f1bd-d1e0-332c-a3de-c0ff189e921b","instanceIdentifier":"9d222214-018c-1000-9287-815e2cefedfa","name":"","source":{"id":"2c83af21-6aa7-374c-bdd5-e36e8a9a7547","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"UpdateAttribute","comments":"","instanceIdentifier":"9d166573-018c-1000-0968-1b9c789774aa"},"destination":{"id":"07a71f46-155c-3a57-b309-8dec6329915d","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"PutFile","comments":"","instanceIdentifier":"46a89089-1b19-3421-52c9-02469003c5cb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"SINGLE_NODE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"7d203f65-9e0e-3faa-bc54-83ec6890a4aa","instanceIdentifier":"a2d053c9-0354-3d44-107a-158da7947557","name":"consume files","source":{"id":"fb3f83f6-aebb-3d43-adb9-42a443a31576","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"ValidateCsv","comments":"","instanceIdentifier":"d8ed055e-8124-3efc-4005-0574998911c1"},"destination":{"id":"d2818759-20ba-3699-91d3-80e5cc0001c1","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"PublishKafka_2_6","comments":"","instanceIdentifier":"104eda70-f403-3c71-c4dd-33595c33b897"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"bbd95e2a-1f6c-391d-a912-594cec9b29e5","instanceIdentifier":"9ccfd8ea-018c-1000-b876-7dd5e877dcf9","name":"","source":{"id":"a17361a2-fbd0-3812-a6e5-074dfaea8430","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"MergeContent","comments":"","instanceIdentifier":"9ccec736-018c-1000-4fbc-95f7fea25b42"},"destination":{"id":"59b36642-3f40-3ddd-b82e-b90727e3bc04","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"LogMessage","comments":"","instanceIdentifier":"f099d2d9-b163-349d-5ab3-2d64d55c3abb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"3f61ede0-bc1b-30c5-9c80-432da0c5a7f5","instanceIdentifier":"9d21d0d3-018c-1000-9c30-e63a789c0a77","name":"","source":{"id":"a17361a2-fbd0-3812-a6e5-074dfaea8430","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"MergeContent","comments":"","instanceIdentifier":"9ccec736-018c-1000-4fbc-95f7fea25b42"},"destination":{"id":"2c83af21-6aa7-374c-bdd5-e36e8a9a7547","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"UpdateAttribute","comments":"","instanceIdentifier":"9d166573-018c-1000-0968-1b9c789774aa"},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"SINGLE_NODE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"00202c84-6790-3339-ab86-32894bd74e37","instanceIdentifier":"9ccf0467-018c-1000-2fa5-1178fa511004","name":"","source":{"id":"fb3f83f6-aebb-3d43-adb9-42a443a31576","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"ValidateCsv","comments":"","instanceIdentifier":"d8ed055e-8124-3efc-4005-0574998911c1"},"destination":{"id":"a17361a2-fbd0-3812-a6e5-074dfaea8430","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"MergeContent","comments":"","instanceIdentifier":"9ccec736-018c-1000-4fbc-95f7fea25b42"},"labelIndex":1,"zIndex":0,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"SINGLE_NODE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"53779f4f-54c6-3f9c-a66c-e6fb18837041","instanceIdentifier":"7285c528-2299-3d79-f0c7-02071ac7f09b","name":"flow","source":{"id":"45036ab2-2828-3445-a082-3088ff0f5646","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"GetFile","comments":"","instanceIdentifier":"c7dcd4f8-1c4c-398d-86e9-8c90f920e39e"},"destination":{"id":"fb3f83f6-aebb-3d43-adb9-42a443a31576","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"ValidateCsv","comments":"","instanceIdentifier":"d8ed055e-8124-3efc-4005-0574998911c1"},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"8631efb3-e8b0-3e98-8e65-90be11edbda9","instanceIdentifier":"9d12b4c0-018c-1000-3d66-318157783f4f","name":"original","source":{"id":"a17361a2-fbd0-3812-a6e5-074dfaea8430","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"MergeContent","comments":"","instanceIdentifier":"9ccec736-018c-1000-4fbc-95f7fea25b42"},"destination":{"id":"f02cdf3e-ed6c-38a1-b043-a1f7c2f6387c","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"PutFile","comments":"","instanceIdentifier":"9d106da9-018c-1000-5936-966c44998471"},"labelIndex":1,"zIndex":0,"selectedRelationships":["original"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":["org.apache.nifi.prioritizer.FirstInFirstOutPrioritizer"],"bends":[],"loadBalanceStrategy":"SINGLE_NODE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"},{"identifier":"252511c1-afcf-356a-93b8-c84c69ee9913","instanceIdentifier":"f0f197c5-7b2a-3b96-0461-82c387301d41","name":"","source":{"id":"fb3f83f6-aebb-3d43-adb9-42a443a31576","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"ValidateCsv","comments":"","instanceIdentifier":"d8ed055e-8124-3efc-4005-0574998911c1"},"destination":{"id":"59b36642-3f40-3ddd-b82e-b90727e3bc04","type":"PROCESSOR","groupId":"6c99cfec-7a93-3929-94fe-4f031c0b3819","name":"LogMessage","comments":"","instanceIdentifier":"f099d2d9-b163-349d-5ab3-2d64d55c3abb"},"labelIndex":1,"zIndex":0,"selectedRelationships":["invalid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"6c99cfec-7a93-3929-94fe-4f031c0b3819"}],"labels":[],"funnels":[],"controllerServices":[],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","logFileSuffix":"","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}